---
server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug

theme: dark
default_2fa_method: totp

authentication_backend:
  file:
    path: /config/users_database.yaml
    search:
      email: true
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 1024

totp:
  disable: false
  issuer: Authelia
  algorithm: sha1
  digits: 6
  period: 30
  skew: 1
  secret_size: 32

access_control:
  default_policy: two_factor
  rules:
    - domain:
        - "{{ domain }}"
        - "www.{{ domain }}"
        - "dash.{{ domain }}"
        - "passbolt.{{ domain }}"
        - "authelia.{{ domain }}"
        - "jellyfin.{{ domain }}"
      policy: bypass

    - domain: "*.{{ domain }}" 
      policy: two_factor

session:
  cookies:
    - name: authelia_session
      domain: {{ domain }}
      authelia_url: https://authelia.{{ domain }}
      expiration: 1h
      inactivity: 5m
      remember_me: 1M

regulation:
  max_retries: 3
  find_time: 300
  ban_time: 600

storage:
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: false
  smtp:
    host: {{ smtp_host }}
    port: {{ smtp_port }}
    username: {{ smtp_username }}
    sender: Authelia <{{ smtp_username }}>
    subject: "[Authelia] {title}"
