multitenancy_enabled: false

common:
  storage:
    backend: s3
    s3:
      endpoint: 127.0.0.1:9000
      access_key_id: "{{ prometheus_minio_root_user }}"
      secret_access_key: "{{ prometheus_minio_root_password }}"
      insecure: true

blocks_storage:
  s3:
    bucket_name: mimir-blocks

alertmanager_storage:
  s3:
    bucket_name: mimir-alertmanager

ruler_storage:
  s3:
    bucket_name: mimir-ruler

compactor:
  data_dir: /tmp/mimir/compactor

ingester:
  ring:
    replication_factor: 1

server:
  http_listen_port: 9009
  log_level: error

store_gateway:
  sharding_ring:
    replication_factor: 1

limits:
  compactor_block_upload_enabled: true
