---
log:
  level: DEBUG

api:
  insecure: true
  dashboard: true

providers:
  file:
    filename: /etc/traefik/dynamic.yaml
    watch: true

entryPoints:
  web-secure:
    address: :443
    http:
      tls:
        options: default
  metrics:
    address: :8082

accessLog:
  filePath: /root/access.log
  format: json
  fields:
    headers:
      defaultmode: keep
      names:
        x-request-id: keep

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addServicesLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
